h1 span{
    background-color: red;
    color: white;
    border-radius: 5px;
}
nav{}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.content{
    width: 90%;
    margin:30px auto;
    display: flex;

}
.content .left{
    width: 30%;
}
.content .right{
    width: 70%;
}
img{
    width: 85%;
}
h4{
    font-size: 13px;
}
h4,p{
    margin: 5px 0;
}
h4 span{
    font-weight: 100;
    font-size: 12px;
}
.right iframe{
    width: 70%;
margin-left: 50%;
transform: translateX(-50%);
}
b{
    display: block;
    text-align: center;
}